
<div class="container-fluid">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Real-Time Dashboard</a>
    </li>
  </ul>
  <div class="table-warper">
    <p style="text-align: center; margin-top: 10px">Updated At {{updatedAt | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
    <ngx-datatable
        #mydatatable
        class="material"
        [headerHeight]="50"
        [limit]="10"
        [offset]="query._page"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'40'"
        [rows]="securities"
        [columns]="columns"
        [externalPaging]="true"
        [loadingIndicator]="loading"
        [count]="total"
        (sort)="paginateChange($event, 'sort')"
        (page)="paginateChange($event, 'page')"
      >
      </ngx-datatable>
  </div>
</div>
